<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Battle</title>
    <link rel="stylesheet" href="../stylesheets/style.css"
</head>
<body>
    <div id="wrap">
        <div class="bg">
            <h1 class="main-tit">HEROES BATTLE</h1>
            <div class="play-display clearfix">
                <div class="card w25">
                    <div class="card-inner">
                        <h2 class="class-tit">직업</h2>
                        <div class="class-img">
                            <img src="../images/green01.jpg">
                        </div>
                        <div class="class-stat">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="class-skill skill-01">1스킬</div>
                        <div class="class-skill skill-02">2스킬</div>
                        <div class="class-skill skill-03">3스킬</div>
                        <div class="class-skill skill-04">콤보</div>
                    </div>
                </div>
                <div class="card w25">
                    <div class="card-inner">
                        <h2 class="class-tit">직업</h2>
                        <div class="class-img">
                            <img src="../images/green01.jpg">
                        </div>
                        <div class="class-stat">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="class-skill skill-01">1스킬</div>
                        <div class="class-skill skill-02">2스킬</div>
                        <div class="class-skill skill-03">3스킬</div>
                        <div class="class-skill skill-04">콤보</div>
                    </div>
                </div>
                <div class="card w25">
                    <div class="card-inner">
                        <h2 class="class-tit">직업</h2>
                        <div class="class-img">
                            <img src="../images/green01.jpg">
                        </div>
                        <div class="class-stat">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="class-skill skill-01">1스킬</div>
                        <div class="class-skill skill-02">2스킬</div>
                        <div class="class-skill skill-03">3스킬</div>
                        <div class="class-skill skill-04">콤보</div>
                    </div>
                </div>
                <div class="card w25">
                    <div class="card-inner">
                        <h2 class="class-tit">직업</h2>
                        <div class="class-img">
                            <img src="../images/green01.jpg">
                        </div>
                        <div class="class-stat">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="class-skill skill-01">1스킬</div>
                        <div class="class-skill skill-02">2스킬</div>
                        <div class="class-skill skill-03">3스킬</div>
                        <div class="class-skill skill-04">콤보</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>